<ion-header >
    <ion-navbar color="dark">
      <ion-title>
        Graph
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding class="background">
    <ion-grid>
      <ion-row>
          <ion-col>
          <div *ngIf="lineChartLabels.length > 0" style="display: block;">
          <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
          </canvas>
          </div>
        </ion-col>
      </ion-row>
      <div>
        <ion-badge color="{{filter.color}}" *ngFor="let filter of filter_years"
          (click)="updateGraphFilter(filter.year)"> {{filter.year}}
        </ion-badge>
      </div>
      Max: {{general.getMax(lineChartData[0].data)}} lbs Min: {{general.getMin(lineChartData[0].data)}} lbs
    </ion-grid>
    <ion-card>
      <ion-card-header>
        Card
      </ion-card-header>
      <ion-card-content>
        <button (click)="alertTotalLost()">
          Total: <ion-badge color="{{total_weight_lost.color}}" float-right>
            {{total_weight_lost.difference * -1}} lbs
          </ion-badge>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-content>

